:root{
    --preto: #343434;
    --azul: #add8e6;

}

body{
    background-color: var(--preto);
    color: white;
    font-family: sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: #add8e6;
    transition: 0.3ms all;
}

#inscreva-ser-btn{
    border: 2px solid #add8e6;
    padding: 10px;
    border-radius: 20px;
    
}

#inscreva-ser-btn:hover{
    background-color: #add8e6;
    color: white;
    font-weight: bold;
    line-height: 2px;
}

h1{
    font-weight: 100;
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 55px;
    line-height: 45px;
    color: var(--azul);
}

p{
    line-height: 15px;
    max-width: 500px;
}

img{
    border-radius: 50%;
    width: 450px;
    height: 450px;
} 

form{
    display: flex;
    flex-direction: column;
    width: 60%;

}

#botao-sub{
    height: 50px;
    width: 50%;
    background-color: #add8e6;
    color: white;
    font-weight: bold;
}

#botao-sub:hover{
   cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
